<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scheduler.core.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scheduler.core.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Scheduler.core.My.MySettings>
            <setting name="CustomerSQL" serializeAs="String">
                <value>Select *from Customers order by CustomerName</value>
            </setting>
            <setting name="LineSQL" serializeAs="String">
                <value>Select * from Lines where Schedule_Enabled =True order by Name</value>
            </setting>
            <setting name="ScheduleFile" serializeAs="String">
                <value>Schedule.txt</value>
            </setting>
            <setting name="PlanningFile" serializeAs="String">
                <value>Plan.txt</value>
            </setting>
            <setting name="Combine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TC_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Scheduler.core.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Scheduler.core.My.MySettings>
            <setting name="RawDatabase" serializeAs="String">
                <value>\\dntbaan01\prod\prod\raw.mdb</value>
            </setting>
        </Scheduler.core.My.MySettings>
    </applicationSettings>
</configuration>
