<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target
      name="csv"
      xsi:type="File"
      fileName="${specialfolder:folder=CommonApplicationData}\MagnaSchedulerService\Logs\${shortdate}.csv"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="false">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="DateTime" layout="${longdate}" />
        <column name="level" layout="${level}"/>
        <column name="LoggerName" layout="${LoggerName}"/>
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <!-- '<logger name="*" minlevel="Debug" writeTo="file, debug" />-->
    <logger name="*" minlevel="Debug" writeTo="csv" />
  </rules>
</nlog>





